$border-404-color: #000;

.container-notfound {
	text-align: center;

	h1 {
		font-size: 115px;
		color: #FFF;
		text-shadow: 5px 5px $border-404-color, 10px 10px #F00, 15px 15px #F0F, 20px 20px #0F0, 25px 25px #00F;
	}
}